* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: rgba(94, 190, 192, 1);
}

header {
  margin: 48px 0 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 54px;
  background-image: linear-gradient(to right, #5eb5c0, #5eadc5, #67a4c7, #759ac4, #8390bc, #8c8cb9, #9687b4, #9e83ae, #a782ae, #b082ad, #b981ac, #c280a9);
  /*-webkit-text-stroke: 1px rgba(94, 181, 192, 0.05);*/
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#calendar h1 {
  margin-bottom: 5px;
}

#calendar ul {
  padding-left: 0;
}

#calendar ul li {
  display: block;
  float: left;
  width: 25%;
  border: 2px solid #f0f0f5;
  padding: 5px;
  height: 80px;
  background-color: #83c0d3;
  color: white;
}